// Example Google API secrets for ESP32 project
#pragma once

#define GOOGLE_API_KEY "your_google_api_key_here"
#define RMV_API_KEY "your_rmv_api_key_here"
#define GITHUB_RELEASE_API_TOKEN "your encryption key"
#define ENCRYPTION_KEY "your encryption key"
